<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
</head>
<body>
  <h1>Users</h1>
  <% users.forEach(user => { %>
    <div class="usrtabl">
      <p>Username: <%= user.username %></p>
      <p>Email: <%= user.email %></p>
      <p>Password: <%= user.password %></p>
    </div>
  <% }); %>
</body>
</html>