/* style.css */
body {
    font-family: Arial, sans-serif;
}

.title {
    color: navy;
    text-align: center;
}

.presentation-body {
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 20px;
}

.contact-info {
    background-color: lightgray;
    padding: 20px;
    margin-top: 20px;
}

.profile-photo img {
    display: block;
    margin: 0 auto; /* Center the image */
    border-radius: 10px; /* Rounded corners */
}

h2 {
    color: darkred;
}
